{% extends '::base.html.twig' %}

{% block action %}
    <table>
        {% for item in items %}
            <tr>
                <td>
                    {{ item }} ({{ item.active ? 'Active' : 'Inactive' }})
                </td>
                <td>
                    <a href="{{ path('app_user_edit', {'id':item.id}) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('app_user_show', {'id':item.id}) }}">show</a>
                </td>
                <td>
                    <form action="{{ path('app_user_activate', {'id': item.id}) }}" method="post">
                        <input type="submit" value="{{ item.active ? 'deactivate' : 'activate' }}">
                        <input type="hidden" name="_method" value="patch">
                    </form>
                </td>
                <td>
                    <form action="{{ path('app_user_delete', {'id': item.id}) }}" method="post">
                        <input type="submit" value="delete">
                        <input type="hidden" name="_method" value="delete">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div>
        {% for page in displayCriteria.pager.links %}
            <a href="{{ path('app_user_list', {'pager[page]':page}) }}">{{ page }}</a>
        {% endfor %}
    </div>
{% endblock %}
